// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

// Override / set color variables
$white: #fff;
$black: #000;
$green: #00e389;
$blue: #3399ff;
$orange: #f26c22;
$yellow: #ffbf25;
$red: #e5001e;
$dark-grey: #333333;
$light-grey: lighten($black, 60%); // #999999

$brand-primary: #03A9F4;
$brand-secondary: #455A64;
$brand-tertiary: #009688;

$secondaryBackground: #f4f7f8;

// Base styles
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  color: $dark-grey;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;

  &.btn-primary {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: $white;

    &:hover,
    &:active,
    &:active:hover,
    &:active:focus,
    &:not(:disabled):not(.disabled):active {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.btn-secondary {
    border: 1px solid $light-grey;
    color: $light-grey;

    &:hover,
    &:active,
    &:active:hover,
    &:active:focus,
    &:not(:disabled):not(.disabled):active {
      background-color: $light-grey;
      border-color: $light-grey;
      color: $white;
    }

    &:focus {
      box-shadow: none;
    }
  }
}



