.page-container,
.sidebar-component,
.view-component {
  height: 100%;
}

.page-container {
  display: flex;
}

.sidebar-component {
  width: 262px;
  min-width: 262px;
}

.view-component {
  position: relative;
  width: 100%;
  background-color: #fbfbfb;
}