.sidebar-wrapper {
  padding: 30px;
  height: 100%;
  border-right: 1px solid lighten($black, 85%);

  .sidebar-logo {
    h1 {
      color: $brand-secondary;
      font-weight: 700;
      font-size: 3em;

      span {
        color: $brand-primary;
        font-size: 1.27em;
      }
    }
  }

  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0 -12px;

    .sidebar-list-item {
      padding: 12px;
      cursor: pointer;

      &:hover {
        background-color: lighten($black, 95%);
        border-radius: 6px;
      }

      i {
        margin-right: 15px;
      }
    }
  }
}