.tasks-view-holder {
  position: relative;
  height: calc(100% - 100px);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;

  .tasks-container {
    max-width: 580px;
    margin: 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .project-holder {
        margin-bottom: 40px;

        .task-project-title {
          font-size: 1em;
          margin-bottom: 15px;
        }

        .task-card {
          padding: 15px;
          background-color: $white;
          border-radius: 10px;
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .1);
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          .task-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;

            .task-status-date {
              display: flex;
              align-items: center;

              .task-status {
                border-radius: 4px;
                background-color: #ccc;
                padding: 6px 10px;
                font-size: 0.7em;
                margin-right: 20px;
              }

              .task-date {
                font-size: 0.9em;
              }

              &.in-progress {
                .task-status {
                  background-color: $brand-primary;
                  color: $white;
                }
              }

              &.overdue {
                .task-status {
                  background-color: $orange;
                  color: $white;
                }

                .task-date {
                  color: $red
                }
              }

              &.on-hold {
                .task-status {
                  background-color: $brand-secondary;
                  color: $white;
                }
              }
            }
          }

          .task-options {
            display: flex;
            align-items: center;

            .complete-toggle {
              color: lighten($black, 60%);
              font-size: 0.8em;

              &:hover {
                color: $green;
              }
            }

            .task-more {
              width: 28px;
              height: 28px;
              line-height: 28px;
              border-radius: 28px;
              text-align: center;
              background-color: $white;
              box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .1);
              color: lighten($black, 60%);
              cursor: pointer;
            }
          }

          .task-title {
            font-size: 1.13em;
            margin-bottom: 13px;
          }
        }
      }
    }
  }
}