.main-top-header {
  width: 100%;
  display: flex;
  padding: 15px 30px;
  align-items: center;
  justify-content: flex-end;
  background-color: $white;
  border-left: 1px solid $secondaryBackground;

  .tasks-title {
    margin: 0;
  }

  .top-header-controls {
    display: flex;
  }

  .header-search-holder {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    margin-left: 50px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .2);
    color: lighten($black, 70%);
    background-color: $white;
    transition: width .15s ease-in-out;
    overflow: hidden;

    .search-holder {
      i {
        position: absolute;
        top: 0;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        z-index: 1;

        &.search-icon {
          left: 0;
          color: lighten($black, 70%);
        }

        &.clear-icon {
          display: none;
          right: 0;
          opacity: 0.3;
          cursor: pointer;
        }
      }

      .header-search {
        display: none;
        height: 40px;
        border-radius: 50px;
        width: 300px;
        padding-left: 40px;
        padding-right: 40px;
        border: none;

        &:hover,
        &:focus {
          box-shadow: none;
        }

        &.searching {
          + .clear-icon {
            display: block;
          }
        }
      }
    }

    &.active {
      width: 300px;

      .header-search {
        display: block;
      }
    }
  }

  .notification-holder {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.7em;
    cursor: pointer;
    margin-left: 30px;

    .notification-alert {
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 5px;
      background-color: $red;
      border: 3px solid $white;
      width: 14px;
      height: 14px;
      border-radius: 14px;
    }

    i {
      transform: rotate(20deg);
      opacity: 0.8;
    }
  }

  .profile-holder {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);

    img {
      height: 100%;
      cursor: pointer;
    }
  }
}